* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: larger;
    font-weight: 400px;
    background-color: white;
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 10vh;
    border: 3px black;
    /*background-color: gold;*/
    padding-left: 4em;
    padding-top: 1em;
    }

header h1 {
    flex: 1 0 50%;
    font-weight: 600;
    }

header nav {
    flex: 1 0 50%;
    display: flex;
    /*background-color: gold;*/
    font-size: 25px;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;

}

header li {
    list-style: none;
    padding-right: 10%;
    padding-top: 1%;

}

footer {
    height: 10%;
    margin-bottom: 2em;
}
